.bg_img {
    width: 100%;
}

.description {
    padding: 15px;
}
.user_profile {
    display: flex;
}
.about_user {
    margin: 40px 15px 0 0;
}
.user_info {
    display: flex;
    color: #ccc;
    font-weight: bold;
    font-style: italic;
    position: relative;
}
li {
    margin: 0 0 15px 0;
}
b {
    color: #000;
    font-weight: 500;
}
.smiley {
    width: 30px;
    height: 25px;
    margin-bottom: -6px;
    
}
.status {
    color: #000;
    position: absolute;
    left: 50%;
    top: 10px;
}
.list {
    margin: 40px 0 0 0;

}